.containerLogin{
    background: rgb(35,76,125);
    background: linear-gradient(19deg, rgb(76, 153, 248) 12%, rgba(137,187,249,1) 76%);
    background-repeat: no-repeat;

    background-size: cover;
}
 .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    backdrop-filter: blur(10px);
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: 20%;
    top: 50px;
    opacity: .3;
}
.shape:nth-child(2){
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: 20%;
    bottom: 50px;
    opacity:.5;
}

.userSignIn{
       overflow: hidden;   
    height: 500px;
    margin: auto;
    z-index: 50;
    box-shadow: 0px 5px 6px 2px #3d3d3d70
}



.imgBoxSignUp{
    left: -100%;
    border-radius: 25%;
}
.formBoxUp{
     z-index: 50;
}
.imgBoxUp{
    left:-100%;
}
.active{
    opacity: 1;
    left:0;
}
