
  
  svg {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    fill: #f1f1f1;
  }
  
  .board {
    width: 100vw;
    min-height: 100vh;
  }

 
  .containerAccount {
    width:85%;
    margin:  auto;
  }
  

  .head {
    display: flex;
    justify-content: space-between;
  }
  
 
  
  .containerAccount {
    display: grid;
    height: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }

  
  /* .logo h1 {
    font-size: 1.5em;
    color:#732002
  }
  .logo span {
    font-weight: bold;
    color: #D98014;
  } */
  
 
  .properfilCuentafits li {
    display: flex;
    justify-content: space-between;
    /* padding: 15px 25px; */
    color: #525252;
  }
  .perfilCuenta h4,
  .perfilCuenta output {
    font-size: 14px;
  }
  .perfilCuenta time {
    font-size: 14px;
    font-weight: bold;
    color: #525252;
  }
  .perfilCuenta output {
    font-weight: bold;
  }



/* Lefto */
  .inventarioComidas{
      background:#f5f5f590;
       backdrop-filter: blur(3px); 
}
.inventarioComidas ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }


