@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");


.left {
  background: linear-gradient(135deg, rgba(187, 112, 0, 0.685) 0%, rgba(26, 26, 26, 0.55) 100%), url("https://images.pexels.com/photos/1653702/pexels-photo-1653702.jpeg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.left ul{
    backdrop-filter: blur(2.5px);
    background: #79797950;
    color:#ffffff;
    /* -webkit-text-stroke: .5px #52525290; */
    text-shadow: -1.5px 1px 1px #232323;
}




